.ViewSubtitle {
  margin-top: -0.35em;
}

.Experiences-filters {
  margin: 2em;
}

  .Experiences-filters > .Experiences-filters-title {
    color: #333;
  }

  .Experiences-filters > .Experiences-filter {
    margin: 1.5em 0;
  }

    .Experiences-filters > .Experiences-filter > .Experiences-filter-title {
      text-transform: uppercase;
      font-size: .75em;
      color: #333;
    }

    .Experiences-filters > .Experiences-filter > .Experiences-filter-option {
      display: inline-block;
      margin-right: .5em;
      border: 1px solid #aaa;
      font-size: .7em;
      text-transform: uppercase;
      padding: .1em .64em;
      border-radius: .64em;
      color: #aaa;
      cursor: pointer;
    }

    .Experiences-filters > .Experiences-filter.Experiences-filter-technology > .Experiences-filter-option {
      text-transform: none;
    }

    .Experiences-filters > .Experiences-filter > .Experiences-filter-option.Experiences-filter-option-active {
      border-color: limegreen;
      color: limegreen;
    }

.Experiences-filter-results {
  margin: 2em;
  padding: .5em 2em;
  border: 1px dashed #ccc;
  border-radius: 1em;
}

  .Experiences-filter-results > span {
    color: #ccc;
    font-size: .85em;
  }

.Experiences {
  margin: 2em;
}

  .Experiences > .Experience {
    margin-bottom: 1.5em;
  }

    .Experiences > .Experience > .Experience-header {
      overflow: hidden;
    }

      .Experiences > .Experience > .Experience-header > .Experience-title {
        color: #000;
        font-weight: 900;
        font-size: 1.2em;
        letter-spacing: -1px;
        float: left;
      }

      .Experiences > .Experience > .Experience-header > .Experience-type {
        float: right;
        color:  #fff;
        font-size: .7em;
        margin-top:  0.5em;
        line-height: 1.25em;
        padding: .25em .75em;
        border-radius: .75em;
        text-transform: uppercase;
      }

        .Experiences > .Experience.Experience-type-employment > .Experience-header > .Experience-type {
          background-color: #c130a2;
        }

        .Experiences > .Experience.Experience-type-contract > .Experience-header > .Experience-type {
          background-color: purple;
        }

        .Experiences > .Experience.Experience-type-entrepreneur > .Experience-header > .Experience-type {
          background-color: darkorchid;
        }

        .Experiences > .Experience.Experience-type-open-source > .Experience-header > .Experience-type {
          background-color: mediumaquamarine;
        }

        .Experiences > .Experience.Experience-type-volunteer > .Experience-header > .Experience-type {
          background-color: darkorange;
        }

    .Experiences > .Experience > .Experience-when {
      position: relative;
      color: #888;
      font-size: 1.1em;
      margin-top: -0.35em;
      letter-spacing: -1px;
    }

    .Experiences > .Experience > .Experience-technologies {
    }

      .Experiences > .Experience > .Experience-technologies > .Experience-technology {
        display:  inline-block;
        margin-right: .5em;
        border: 1px solid #888;
        padding: .1em .5em;
        font-size: .7em;
        line-height: 1.2em;
        color: #888;
        border-radius: .5em;
      }

      .Experiences > .Experience > .Experience-technologies.Experience-technologies-filtered > .Experience-technology {
        color: #ccc;
        border-color: #ccc;
      }

      .Experiences > .Experience > .Experience-technologies.Experience-technologies-filtered > .Experience-technology.Experience-technologies-filter-match {
        color: #888;
        border-color: #888;
      }

    .Experiences > .Experience > .Experience-nutshell {
      margin: 1em;
      color: #555;
      font-weight: 900;
      font-size: .85em;
    }

    .Experiences > .Experience > .Experience-notes {
      margin:  1em 1em 0 1em;
      transition: max-height .125s ease;
      overflow:  hidden;
      max-height: 500px;
    }

    .Experiences > .Experience > .Experience-notes.Experience-notes-hidden {
      max-height: 0px;
    }

      .Experiences > .Experience > .Experience-notes > .Experience-note {
        font-size: .85em;
        margin-bottom: 1em;
        color: #777;
      }

        .Experiences > .Experience.Experience-type-employment > .Experience-notes > .Experience-note > a {
          color: #c130a2;
        }

        .Experiences > .Experience.Experience-type-contract > .Experience-notes > .Experience-note > a {
          color: purple;
        }

        .Experiences > .Experience.Experience-type-entrepreneur > .Experience-notes > .Experience-note > a {
          color: darkorchid;
        }

        .Experiences > .Experience.Experience-type-open-source > .Experience-notes > .Experience-note > a {
          color: mediumaquamarine;
        }

        .Experiences > .Experience.Experience-type-volunteer > .Experience-notes > .Experience-note > a {
          color: darkorange;
        }

        .Experiences > .Experience > .Experience-notes > .Experience-note > a.inline-block {
          display: inline-block;
        }

        .Experiences > .Experience > .Experience-notes > .Experience-note > code {
          background-color: #ddd;
          border: 1px solid #aaa;
          color: darkgoldenrod;
          font-size: .75em;
          padding: 0em .45em;
          border-radius: .5em;
          margin: 0 0.1em;
          vertical-align: .2em;
        }

    .Experiences > .Experience > .Experience-notes-view-toggle {
      margin: 0 .85em;
    }

      .Experiences > .Experience > .Experience-notes-view-toggle > span {
        text-transform: uppercase;
        font-size: 0.65em;
        cursor: pointer;
        color: #aaa;
      }

