.ViewSubtitle {
  margin-top: -0.35em;
}

.Experiences {
  margin: 4em 5% 2em 5%;
}

  .Experiences > .Experience {
    margin-bottom: 1em;
  }

    .Experiences > .Experience > .Experience-title {
      color: #000;
      font-weight: 900;
      font-size: 1.2em;
      letter-spacing: -1px;
    }

    .Experiences > .Experience > .Experience-when {
      color: #888;
      font-size: 1.1em;
      margin-top: -0.35em;
      letter-spacing: -1px;
    }
