.App-header {
  margin: .75em 5%;
}

.App-content {
  margin: 2em 5%;
  box-sizing:  border-box;
}

  .App-content > h3 {
    font-weight: 900;
    font-size: 2.2em;
    letter-spacing: -1px;
    margin-bottom: 0;
  }

  .App-content > h5 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-top: -0.5em;
    color: #aaa;
  }

    .App-content > h5 > .emphasis {
      color:  #555;
    }

  .App-content > .categories {
    margin-top: 4em;
    max-width: 33em;
  }

    .App-content > .categories > .category {
      display: block;
      padding: 2em;
      background-color: #fff;
      border-bottom:  1px solid #ccc;
      transition: background-color 1.2s ease;
      text-decoration: none;
    }

    .App-content > .categories > .category:hover {
      cursor: pointer;
      background-color:  #fffde4;
      transition: background-color .1s ease;
    }

    .App-content > .categories > .category:last-of-type {
      border-bottom: 0;
    }

      .App-content > .categories > .category > .category-title {
        color: #000;
        font-weight: 900;
        font-size:  1.37em;
        letter-spacing: -1px;
        text-transform:  uppercase;
      }

      .App-content > .categories > .category > .category-subtitle {
        margin-top:  .5em;
        line-height: 1em;
        color: #888;
      }
